{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2> Estación del tiempo </h2><br>
            <p style="font-size: 25px;">El objetivo, es tener una estación meteorologica al alcance de cada uno de nosotros, utilizando nuestros propios componentes electronicos como el sensor.</p>
            <p style="font-size: 25px;">La combinación de la electronica y la informatica, podemos alcanzar grandes logros.</p>
        </div>
        <div class="col">
            <img src="../static/img/clima.jpg" alt="clima" style="width: 600px;">
        </div>
    </div>
{% endblock %}